[credential]
	helper = osxkeychain
[push]
	default = simple
[remote "origin"]
	push = HEAD
[user]
	email = ryan.watkins@infusionsoft.com
	name = Ryan Watkins
[core]
	editor = mate -w
	excludesfile = /Users/devs/.gitignore_global
	autocrlf = input
[alias]
	hist = log --all --graph --decorate --oneline
	co = checkout
	d = diff
	ds = diff --stat
	
	# Logging aliases:
	l = log --graph --date=format:%c --pretty=format:'%C(auto)%h%d %s  %C(green)%an, %ar %C(cyan)(%ad) %C(auto)'
	la = log --graph --date=format:%c --pretty=format:'%C(auto)%h%d %s  %C(green)%an, %ar %C(cyan)(%ad) %C(auto)' --all
	ls = log --graph --date=format:%c --pretty=format:'%C(auto)%h%d %s  %C(green)%an, %ar %C(cyan)(%ad) %C(auto)' --simplify-by-decoration
	las = log --graph --date=format:%c --pretty=format:'%C(auto)%h%d %s  %C(green)%an, %ar %C(cyan)(%ad) %C(auto)' --all --simplify-by-decoration
	
	# Version aliases:
	vrm = describe origin/develop origin/release origin/master
	
	# Branch aliases:
	vv = branch -vv
	cleanse = !git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -n 1 git branch -D
	
	# Other useful aliases:
	unstage = reset HEAD
	staged = diff --cached
	unstaged = diff
	current-branch = !git symbolic-ref -q HEAD | sed -e 's|^refs/heads/||'
	# Usage: git track origin/feature-123-login-form
	track = checkout -t
	ctags = !.git/hooks/ctags
[apply]
	whitespace = warn
[clean]
	requireForce = false
[color]
	ui = auto
[color "diff"]
	meta = cyan bold
	frag = magenta bold
[color "status"]
	added = green
	changed = yellow
	untracked = red
[diff]
	tool = bcomp
[difftool]
	prompt = false
[difftool "bcomp"]
	trustExitCode = true
	cmd = "/usr/local/bin/bcomp" "$LOCAL" "$REMOTE"
[merge]
	tool = bcomp
[mergetool]
	prompt = false
[mergetool "bcomp"]
	trustExitCode = true
	cmd = "/usr/local/bin/bcomp" "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
[fetch]
	prune = true
[help]
	autocorrect = -1
[init]
	templatedir = ~/.git_template
[log]
	decorate = short
[push]
	default = simple
[remote "origin"]
	push = HEAD
[status]
	submodule = 1
[pull]
	ff = only
